.body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F9FAFF;
}
.bg-wraper{
    background-image: url(../img/Layer12.png);
    width: 1110.93px;
height: 881px;

margin-left: 850px;
background-size: cover;
background-repeat: no-repeat;
display: flex;


}
.form{
    background-color:white;
    width: 850px;
    height: 1047px;
   
 margin-left: -900px;
    display: flex;
   
    
}
.text-icon{
    width: 180px;
    height: 33px;
margin-left: 571px;
margin-top: 85px;
display: flex;
color: #4743E0;
    
} 
.icon{
    width: 16px;
height: 16px;
margin: 15px 8px;


}
.text-block{
    width: 610px;
    height: 125px;
    align-items: center;
    display: flex;
    margin: 160px -640px;
    justify-content: space-between;
    padding-left: 10px;
}
.p{
    width: 300px;
}
.line{
    margin-top: 310px;
}
.wraper-form{
    width: 703px;
    height: 555px;
    margin-top: 385px;
    margin-left: -630px;
    display: flex;
    justify-content: space-between;
    
}
.input{
    width: 300px;
    height: 48px;
    font-size: 14px;
}
.form-left{
    width: 310px;
 
}
.form-right{
    width: 310px;
}
.radio-order{
    width: 310px;
    display: flex;
    justify-content: space-between;
   

}
.radio{
    width: 48px;
    height: 48px;
    border: #28282a solid;
    align-items: center;
    padding: 2px;
    align-items: center;
    
  
}
.label-style{
    align-items: center;
    padding: 2px;
}
.line-two{
    margin-top: 100px;
    margin-left: -410px;
    
   
}
.input-btn{
    width: 102px;
    height: 48px;
   background-color: #4743E0;
   margin-left: 206px;
    
}
.inp{
    display: flex;
    width: 240px;
    justify-content: space-between;
}
    